// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap Icons
@import '~bootstrap-icons/font/bootstrap-icons.css';

//------------------------------------------------------

.posts-container{

    background-color: #FEE055;

    font: #141214;

    border-radius: 10px;

    table{
        img{
            width: 100%;
        }

    }

    .post-article:hover{
        background-color: #F4C900;
        opacity: 0.9;
    }
}


.show-post-container{
    background-color: rgb(255, 255, 255);

    img{
        width: 640px;
        height: 482px;
    }
}